*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
*::after,
*::before{box-sizing: border-box;}
ul,ol{list-style: none;}
a{color: inherit;text-decoration: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}

/*icon*/
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/*topfix*/
nav > .topfix{background: #d43c33;display: flex;justify-content: space-between;}
nav > .topfix > .topLogo{padding: 20px 0 16px 10px;}
nav > .topfix > .topLogo > .topsvg{width: 142px;height: 25px;}
nav > .topfix > .downloadBtn{display: flex;justify-content: center;align-items: center; margin-right: 10px;}
nav > .topfix > .downloadBtn > span{border: 1px solid white;color: white;border-radius: 20px;padding: 4px 10px;font-size: 15px;}

/*topNavBar*/
nav > .topNavBar{}
nav > .topNavBar > ul{display: flex;justify-content: space-around;padding-top: 9px;padding-bottom: 9px;font-size: 15px;border-bottom: 1px solid #ccc;}
nav > .topNavBar > ul >li{position: relative;padding-left: 6px;padding-right: 6px;margin-right: 20px;}
nav > .topNavBar > ul >li.active::before{content: '';height: 2px;width: 100%;background: #d33a31;position: absolute;bottom: -10px;left: 0;}
nav > .topNavBar > ul >li.active{color: #d43c33;}

/*recommendSongList*/
.page > .recommendSongList{}
.page > .recommendSongList > .recommend{font-size: 17px;padding: 17px 0 17px 10px;position: relative;}
.page > .recommendSongList > .recommend::before{content: '';height:16px;width: 2px;background: #d43c33;position: absolute;top: 50%;left: 0;margin-top: -8px;}
.page > .recommendSongList > .songListShow{}
.page > .recommendSongList > .songListShow > ul{display: flex;justify-content: space-between;flex-wrap: wrap;}
.page > .recommendSongList > .songListShow > ul >li{display: flex;flex-direction: column;width: 33.2%;}
.page > .recommendSongList > .songListShow > ul > li > div > img{width: 100%;}
.page > .recommendSongList > .songListShow > ul > li > p{font-size: 13px;color: #333;padding-bottom: 15px;}

/*newestSong*/
.page > .newestSong > .newSong{font-size: 17px;padding: 20px 0 20px 10px;position: relative;}
.page > .newestSong > .newSong::before{content: '';height:16px;width: 2px;background: #d43c33;position: absolute;top: 50%;left: 0;margin-top: -8px;}
.page > .newestSong > ul > li{display: flex;justify-content: space-between;border-bottom: 1px solid #E2E2E3;padding-right: 10px;padding-left: 10px;}
.page > .newestSong > ul > li > .playIcon{line-height: 56px;}
.page > .newestSong > ul > li > .playIcon > .icon{width: 1.5em;height: 1.5em;fill: #aaa;}
.page > .newestSong > ul > li > .songInformation > .songName{font-size: 17px;}
.page > .newestSong > ul > li > .songInformation > .singer{display: flex;margin-top: 3px;margin-bottom: 10px;}
.page > .newestSong > ul > li > .songInformation > .singer > p{font-size: 12px;color: #888;padding-top: 2px;}
.page > .newestSong > ul > li > .songInformation > .singer > .toneQualityIcon{margin-right: 3px;}

/*footer*/
footer{background-image: url(//i.loli.net/2017/08/25/599f862b9c98d.png);background-position: center center;padding-top: 0.1px;padding-bottom: 50px;}
footer > .footerLogo{width: 230px;height: 44px;margin-left: auto;margin-right: auto;margin-top: 38px;}
footer > .informationContaioner{display: flex;justify-content: center;align-items: center;flex-direction: column;margin-left: 36px;margin-right: 36px;}
footer > .informationContaioner > .openApp{border:1px solid #d43c33;border-radius: 20px;padding-top: 8px;padding-bottom: 8px;font-size: 16px;color: #d43c33;width: 100%;text-align: center;margin:16px 0 5px 0;}
footer > .informationContaioner > .copyRight{font-size: 12px;color: #888;transform: scale(0.75);white-space: nowrap;}